<!-- ======= Traning Section ======= -->
<section id="contact" class="contact">
    <div class="white2">
        <div class="container">


            <!-- ======= Services Section ======= -->
            <section id="services" class="services">
                <div class="container pt-5">

                    <div class="section-title" data-aos="fade-up">
                        <h2 class="section-title">KNOW MORE, GROW MORE</h2>
                         <h2 class="section-title">USEFUL COURSES</h2>

                    </div>
                    <div class="demo">
                        <div class="container">
                            <div class="row" data-aos="zoom-in" data-aos-delay="400">
                                <div class="col-md-4 col-sm-6 ">
                                    <div class="pricingTable">
                                        <!-- <div class="pricingTable-header">

                                            <h3 class="heading">BASIC COURSES</h3>
                                        </div> -->
                                        <br>
                                        <h3 class="heading">BASIC COURSES</h3>
                                        <div class="pricing-content">
                                            <ul>

                                                <li>Equity Market</li>
                                                <li>Commodity Market</li>
                                                <li>Currency Market</li>
                                                <li>Trading Softwares Training</li>
                                                <li><a routerLink="/websitedata/equity-market">Read More..</a></li>
                                            </ul>
                                        </div>
                                        <br>
                                        <div class="pricingTable-signup">
                                            <a routerLink="/login">Book Now</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-6 ">
                                    <div class="pricingTable green">

                                        <!-- <div class="pricingTable-header">

                                            <h3 class="heading">ADVANCE COURSES</h3>
                                        </div> -->
                                        <br>
                                        <h3 class="heading">ADVANCE COURSES</h3>
                                        <div class="pricing-content">
                                            <ul>
                                                <li>Basic Plus Below Courses </li>
                                                <li>Derivatives Market</li>
                                                <li>Technical Analysis</li>

                                                <li><a routerLink="/websitedata/commodity">Read More..</a></li>
                                                <!-- <li>&nbsp;</li> -->
                                            </ul>
                                        </div>
                                        <br><br>
                                        <div class="pricingTable-signup">
                                            <a routerLink="/login">Book Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 ">
                                    <div class="pricingTable blue">
                                        
                                        <!-- <div class="pricingTable-header">

                                            <h3 class="heading">MASTER COURSES</h3>
                                        </div> -->
                                        <br>
                                        <h3 class="heading">MASTER COURSES</h3>
                                        <div class="pricing-content">
                                            <ul>
                                                <li>Advance Plus Below Courses</li>
                                                <li>Fundamental Analysis
                                                </li>
                                                <!-- <li> </li> -->
                                                <li>Trading Techniques & Stratergies</li>
                                                <li>Live Market Practical Trading</li>
                                                <li>Mutual Funds</li>
                                                <li><a routerLink="/websitedata/currency">Read More...</a></li>
                                            </ul>
                                        </div>
                                        <div class="pricingTable-signup">
                                            <a routerLink="/login">Book Now</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-md-4 col-sm-6 ">
                                    <div class="pricingTable red">

                                        <div class="pricingTable-header">

                                            <h3 class="heading">TRADING MASTER COURSES</h3>
                                        </div>
                                        <div class="pricing-content">
                                            <ul>
                                                <li>What is a <strong>Derivatives</strong>, Types, </li>
                                                <li><strong>Future Market</strong>, Hedging </li>

                                                <li><strong>Index</strong> Future, Lot Sizes</li>
                                                <li><a routerLink="/websitedata/derivatives">Read More...</a></li>
                                            </ul>
                                        </div>
                                        <div class="pricingTable-signup">
                                            <a routerLink="/login">Book Now</a>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                            <br>
                            <div class="row" data-aos="zoom-in" data-aos-delay="400">
                                <div class="col-md-3 col-sm-6 ">

                                </div>

                                <div class="col-md-6 col-sm-6 "   style="box-shadow: 0 0 10px rgba(255, 0, 0, 0.747);">
                                    <div class="pricingTable gradient-border red
                                    \">

                                        <!-- <div class="pricingTable-header">

                                            <h3 class="heading">ADVANCE COURSES</h3>
                                        </div> -->
                                        <br>
                                        <h3 class="heading">Platinum COURSES</h3>
                                        <div class="pricing-content">
                                            <ul>
                                                <li>Master Plus Below Courses</li>
                                                <li>Portfolio Management Services</li>
                                                <li>Financial Planning</li>
                                                <li>Personal Coaching from Sanjay Balapure Sir</li>
                                                <li><a routerLink="/websitedata/commodity">Read More..</a></li>
                                                <!-- <li>&nbsp;</li> -->
                                            </ul>
                                        </div>
                                        <div class="pricingTable-signup">
                                            <a routerLink="/login">Book Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 ">

                                </div>
                                <!-- <div class="col-md-4 col-sm-6 ">
                                    <div class="pricingTable red">

                                        <div class="pricingTable-header">

                                            <h3 class="heading">TRADING MASTER COURSES</h3>
                                        </div>
                                        <div class="pricing-content">
                                            <ul>
                                                <li>What is a <strong>Derivatives</strong>, Types, </li>
                                                <li><strong>Future Market</strong>, Hedging </li>

                                                <li><strong>Index</strong> Future, Lot Sizes</li>
                                                <li><a routerLink="/websitedata/derivatives">Read More...</a></li>
                                            </ul>
                                        </div>
                                        <div class="pricingTable-signup">
                                            <a routerLink="/login">Book Now</a>
                                        </div>
                                    </div>
                                </div> -->
                            </div>

                        </div>
                    </div>
                    <br>
                </div>
            </section>
            <!-- End Services Section -->









            <!-- ======= Services Section ======= -->
            <section id="services" class="services">
                <div class="container ">

                   
                    <div class="demo">
                        <div class="container">
                            <div class="row" data-aos="zoom-in" data-aos-delay="400">
                                <div class="col-md-3 col-sm-6 ">
                                    <div class="pricingTable">
                                        <br>

                                        <h3 class="heading">Equity Market</h3>
                                        <div class="pricing-content">
                                            <ul>
                                                <li>Overall <strong>Basics</strong> of Share Market</li>
                                                <li>Shortcut <strong>keys</strong> for Trading</li>
                                                <li><strong>Long</strong> Position</li>
                                                <li><strong>Short</strong> Sell Position</li>
                                                <li><a routerLink="/websitedata/equity-market">Read More..</a></li>
                                            </ul>
                                        </div>
                                        <div class="pricingTable-signup">
                                            <a routerLink="/login">Book Now</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-6 ">
                                    <div class="pricingTable green">
                                        <br>
                                        <h3 class="heading">Commodity Market</h3>
                                        <div class="pricing-content">
                                            <ul>
                                                <li>What is <strong>Commodity Market</strong></li>
                                                <li><strong>Scope </strong> of Commodity Market</li>
                                                <li><strong>Different Segments</strong> of Commodity Market</li>
                                                <li><a routerLink="/websitedata/commodity">Read More..</a></li>
                                                <!-- <li>&nbsp;</li> -->
                                            </ul>
                                        </div>
                                        <div class="pricingTable-signup">
                                            <a routerLink="/login">Book Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 ">
                                    <div class="pricingTable blue">
                                        <br>
                                        <h3 class="heading">Currency Market</h3>
                                        <div class="pricing-content">
                                            <ul>
                                                <li>What is <strong>Currency Market</strong></li>
                                                <li><strong>Trading Options</strong> in Currency Market,
                                                    <strong>USDINR</strong>
                                                </li>
                                                <!-- <li> </li> -->
                                                <li>EURINR, GBPINR, JPYINR</li>
                                                <li><a routerLink="/websitedata/currency">Read More...</a></li>
                                            </ul>
                                        </div>
                                        <div class="pricingTable-signup">
                                            <a routerLink="/login">Book Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 ">
                                    <div class="pricingTable red">
                                        <br>
                                        <h3 class="heading">Derivatives Market</h3>
                                        <div class="pricing-content">
                                            <ul>
                                                <li>What is a <strong>Derivatives</strong>, Types, </li>
                                                <li><strong>Future Market</strong>, Hedging </li>
                                                <li><strong>Stock</strong> Future</li>
                                                <li><strong>Index</strong> Future, Lot Sizes</li>
                                                <li><a routerLink="/websitedata/derivatives">Read More...</a></li>
                                            </ul>
                                        </div>
                                        <div class="pricingTable-signup">
                                            <a routerLink="/login">Book Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row" data-aos="zoom-in" data-aos-delay="400">
                                <div class="col-md-3 col-sm-6 ">
                                    <div class="pricingTable">
                                        <br>
                                        <h3 class="heading">Technical Analysis</h3>
                                        <div class="pricing-content">
                                            <ul>
                                                <li>What is <strong>Technical Analysis</strong>, </li>
                                                <li>Benefits, <strong>Line Chart</strong>, Bar Chart</li>
                                                <li><strong>Trends</strong>, MACD, RSI,Corrections</li>
                                                <li>&nbsp;</li>
                                                <li><a routerLink="/websitedata/technical">Read More...</a></li>
                                            </ul>
                                        </div>
                                        <div class="pricingTable-signup">
                                            <a routerLink="/login">Book Now</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-6 ">
                                    <div class="pricingTable green">
                                        <br>
                                        <h3 class="heading">Fundamental Analysis</h3>
                                        <div class="pricing-content">
                                            <ul>
                                                <li>What is <strong>Fundamental Analysis</strong></li>
                                                <li><strong>Steps Involved</strong> in Fundamental Analysis</li>
                                                <li>Boom, <strong>Goverment</strong> Policies</li>
                                                <li><a routerLink="/websitedata/fundamental">Read More...</a></li>
                                                <!-- <li><b>20</b> Domains</li> -->
                                            </ul>
                                        </div>
                                        <div class="pricingTable-signup">
                                            <a routerLink="/login">Book Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 ">
                                    <div class="pricingTable blue">
                                        <br>
                                        <h3 class="heading">Trading Technique & Strategies</h3>
                                        <div class="pricing-content">
                                            <ul>
                                                <li>Who is <strong>successful Trader</strong></li>
                                                <li><strong>Investment</strong> and Trading Ratio</li>
                                                <li><strong>Strangle</strong> Strategy</li>
                                                <li><a routerLink="/websitedata/trading">Read More...</a></li>
                                                <!-- <li><b>25</b> Domains</li> -->
                                            </ul>
                                        </div>
                                        <div class="pricingTable-signup">
                                            <a routerLink="/login">Book Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 ">
                                    <div class="pricingTable red">
                                        <br>
                                        <h3 class="heading">Mutual funds</h3>
                                        <div class="pricing-content">
                                            <ul>
                                                <li>What is <strong>Mutual Fund</strong></li>
                                                <li><strong>Debt Fund</strong>, Lump sum Investment, SWP, STP</li>
                                                <li> <strong>Gold Funds</strong> and ETF,SIP</li>
                                                <li><a routerLink="/websitedata/mutual">Read More...</a></li>
                                                <!-- <li><b>30</b> Domains</li> -->
                                            </ul>
                                        </div>
                                        <div class="pricingTable-signup">
                                            <a routerLink="/login">Book Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <!--                 
                <div class="row">

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch form-group" data-aos="zoom-in" data-aos-delay="400" *ngFor="let courseMaster of courseMasterList;">

                        <div class="icon-box">
                            <div class="icon"><i class='bx bx-line-chart-down'></i></div>
                            <h4 class="title"><a>{{courseMaster.courseMasterName}}</a></h4>
                            <p class="description">{{courseMaster.courseMasterDescription}}</p>
                            <a style="color: chocolate;"> Duration : {{courseMaster.courseMasterDuration}}</a><br>
                            <b class="form-group">Price {{courseMaster.courseMasterOfferPrice}}₹</b> &nbsp;<del>{{courseMaster.courseMasterPrice}}₹</del>
                            <div class="cta-button ">
                                <a class="readon border white" (click)="getCourse(courseMaster.courseMasterId)" style="cursor: pointer;">Book Now</a>
                            </div>
                        </div>

                    </div>

                </div>  -->

                    <div class="container mb-5" style="padding: 0;">
                        <!-- <div class="cta-banner">
                        <div class="cta-banner__content">
                            <h2>Combo Offer, Save Now...!!</h2>
                            <p>A to Z Sharemarket course's with hand hold support Only in ₹9999
                            </p>
                        </div>
                        <a routerLink="/websitedata/combooffer" class="cta-banner__button">Click here Book Now.</a>
                    </div> -->

                        <div class="col-md-6 col-sm-12 test mx-auto" data-aos="zoom-in" data-aos-delay="400">
                            <div class="pricingTable gradient-border red"
                                style="box-shadow: 0 0 10px rgba(255, 0, 0, 0.747);">
                                <br>
                                <h3 class="heading">Indian Stock Market Marster Course</h3>
                                <div class="pricing-content">
                                    <div class="row " style="font-weight: 500;">
                                        <div class="col-md-5 pl-5">
                                            <ul>
                                                <li>Equity Market</li>
                                                <li>Cmmodity Market </li>
                                                <li> Currency Market</li>
                                                <li>Derivatives Market</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-7">
                                            <ul>
                                                <li>Technical Analysis</li>
                                                <li>Fundamental Analysis</li>
                                                <li>Trading Technique & Strategies</li>
                                                <li>Mutual Funds</li>
                                                <li><a routerLink="/websitedata/combooffer">Read More...</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="pricingTable-signup">
                                    <a href="https://easebuzz.in/pay/SharemarketkrantitWASX" target="_blank">Book
                                        Now</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="row">
                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bxl-dribbble"></i></div>
                            <h4 class="title"><a href="">Technical Analysis</a></h4>
                            <p class="description">What is Technical Analysis, Benefits, Line Chart, Bar Chart, Trends,
                                MACD,RSI,Corrections</p>
                            <a style="color: chocolate;" routerLink="/technical">&nbsp;&nbsp;&nbsp;&nbsp; Read
                                More</a><br>
                            <b>Price 4999₹</b>

                            <div class="cta-button ">
                                <a routerLink="/contact" class="readon border white">Book Now</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-bar-chart-alt-2"></i></div>
                            <h4 class="title"><a href="">Fundamental Analysis</a></h4>
                            <p class="description">What is Fundamental Analysis, Steps Involved in Fundamental Analysis,
                                Boom, Goverment
                                Policies</p>
                            <a style="color: chocolate;" routerLink="/fundamental">&nbsp;&nbsp;&nbsp;&nbsp; Read
                                More</a><br>
                            <b>Price 4999₹</b>
                            <div class="cta-button ">
                                <a routerLink="/contact" class="readon border white">Book Now</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-tachometer"></i></div>
                            <h4 class="title"><a href="">Trading Technique & Strategies</a></h4>
                            <p class="description">Who is successful Trader, Investment and Trading Ratio, Strangle
                                Strategy</p>
                            <a style="color: chocolate;" routerLink="/trading">&nbsp;&nbsp;&nbsp;&nbsp; Read
                                More</a><br>
                            <b>Price 4999₹</b>
                            <div class="cta-button ">
                                <a routerLink="/contact" class="readon border white">Book Now</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-dollar-circle"></i></div>
                            <h4 class="title"><a href="">Mutual funds</a></h4>
                            <p class="description">What is Mutual Fund, Debt Fund, Lump sum Investment, SWP, STP, Gold
                                Funds and ETF,SIP
                            </p>
                            <a style="color: chocolate;" routerLink="/mutual">&nbsp;&nbsp;&nbsp;&nbsp; Read More</a><br>
                            <b>Price 4999₹</b>
                            <div class="cta-button ">
                                <a routerLink="/contact" class="readon border white">Book Now</a>
                            </div>
                        </div>
                    </div>

                </div> -->

                </div>
            </section>
            <!-- End Services Section -->

        </div>
    </div>
</section>