.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer>button {
    display: flex;
    border: 0;
    padding: 15px 25px;
    align-items: center;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(to bottom, #1e78eeec 0%, #1e78eeec 100%);
    box-shadow: 0 10px 30px 0 rgba(107, 117, 255, 0.438);
    transition: 200ms;
    margin: auto;
}

.footer>button:hover {
    background: linear-gradient(to bottom, #0825a5 0%, #0825a5 100%);
}

.footer>button>img {
    width: 31px;
}

.footer>button>span {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 10px;
    color: white;
}

.footer>a img {
    width: 24px;
    opacity: 0.8;
}.cta-banner {
    background: #fff;
    border-radius: 9px;
    box-shadow: 0 5px 15px 0 rgba(37, 44, 97, 0.15), 0 2px 4px 0 rgba(93, 100, 148, 0.2);
    width: 50vw;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cta-banner__content h2 {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.0025em;
}

.cta-banner__content p {
    color: #c0c0c0;
    margin: 0.5rem 0;
}

.cta-banner__button {
    background-image: linear-gradient(to top right, #1e78eeec, #1e78eeec);
    padding: 0.8rem 1.2rem;
    border-radius: 9px;
    text-decoration: none;
    color: #fff;
    box-shadow: 0px 4px 8px rgba(45, 35, 66, 0.4), 0px 7px 13px -3px rgba(45, 35, 66, 0.3), inset 0px -3px 0px #1e78eeec;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
}

.cta-banner__button:hover {
    margin-top: -5px;
    box-shadow: 0px 4px 28px rgba(45, 35, 66, 0.4), 0px 7px 16px -3px rgba(45, 35, 66, 0.3), inset 0px -3px 0px#1e78eeec;
}

@media (max-width: 1280px) {
    .cta-banner {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .cta-banner__button {
        margin: 1rem 0;
    }
}

.pricingTable {
    text-align: center;
    background: rgba(255, 255, 255, 0.808);
    margin: 0 -8px;
    box-shadow: 0 0 10px #ababab;
    padding-bottom: 40px;
    border-radius: 10px;
    color: #cad0de;
    transform: scale(1);
    transition: all .5s ease 0s
}

.pricingTable:hover {
    transform: scale(1.05);
    z-index: 1
}

.pricingTable .pricingTable-header {
    padding: 30px 0;
    background: #274472;
    border-radius: 10px 10px 50% 50%;
    transition: all .5s ease 0s
}

.pricingTable:hover .pricingTable-header {
    background: #0F1845;
}

.pricingTable .pricingTable-header i {
    font-size: 50px;
    color: #858c9a;
    margin-bottom: 10px;
    transition: all .5s ease 0s
}

.pricingTable .price-value {
    font-size: 35px;
    color: #ff9624;
    transition: all .5s ease 0s
}

.pricingTable .month {
    display: block;
    font-size: 14px;
    color: white;
}

.pricingTable:hover .month,
.pricingTable:hover .price-value,
.pricingTable:hover .pricingTable-header i {
    color: #fff
}

.pricingTable .heading {
    font-size: 24px;
    color: #ff9624;
    margin-bottom: 20px;
    text-transform:capitalize;
}

.pricingTable .pricing-content ul {
    list-style: none;
    padding: 0;
    margin-bottom: 30px
}

.pricingTable .pricing-content ul li {
    line-height: 30px;
    color: #424244;
    text-align: left;
    padding-left: 10%;
}

.pricingTable .pricingTable-signup a {
    display: inline-block;
    font-size: 15px;
    color: #fff;
    padding: 10px 35px;
    border-radius: 20px;
    background: #0F1845;
    text-transform: uppercase;
    transition: all .3s ease 0s
}

.pricingTable .pricingTable-signup a:hover {
    box-shadow: 0 0 10px #ffa442
}

.pricingTable.blue .heading,
.pricingTable.blue .price-value {
    color: #ff9624;
}

.pricingTable.blue .pricingTable-signup a,
.pricingTable.blue:hover .pricingTable-header {
    background: #0F1845;
}

.pricingTable.blue .pricingTable-signup a:hover {
    box-shadow: 0 0 10px #4b64ff
}

.pricingTable.red .heading,
.pricingTable.red .price-value {
    color: #ff9624;
}

.pricingTable.red .pricingTable-signup a,
.pricingTable.red:hover .pricingTable-header {
    background: #0F1845;
}

.pricingTable.red .pricingTable-signup a:hover {
    box-shadow: 0 0 10px #17a2b8
}

.pricingTable.green .heading,
.pricingTable.green .price-value {
    color: #ff9624;
}

.pricingTable.green .pricingTable-signup a,
.pricingTable.green:hover .pricingTable-header {
    background: #0F1845;
}

.pricingTable.green .pricingTable-signup a:hover {
    box-shadow: 0 0 10px #40c952
}

.pricingTable.blue:hover .price-value,
.pricingTable.green:hover .price-value,
.pricingTable.red:hover .price-value {
    color: #fff
}

@media screen and (max-width:990px) {
    .pricingTable {
        margin: 0 0 20px;
        width: 110%;
        margin-left: -5%;
    }
}

@media only screen and (min-device-width: 768px){
    .pricingTable .price-value {
        font-size: 28px;
    }
    
.pricingTable .pricingTable-signup a {
    padding: 10px 23px;
}

.pricingTable .heading {
    font-size: 20px;
}
    
}


/* 
@media (min-width:420px)and(max-width: 768px){
.col-md-3{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 50%;
    max-width: 50%;
}
} */

.pricingTable-header img{
    width:75px;
    height: 75px;
}
.pricingTable-header i{
    color: #ff4000 !important;
}
.section-title{
    text-align: center;
    margin-bottom: 15px;
}