<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card cards card-2  mb-5" style="width: 80%">
                <div class="card-body">

                    <div class="row">
                        <h3 style="color:#F04E23 ;text-align: center;"><b>Equity Market</b></h3>
                        <div class="col-4">
                            <ul>
                                <li> <b>Overall Basics Of Stock Market</b></li>

                                <li>What Is a Share ? </li>
                                <li>Investments</li>
                                <li>Fixed Income Instrument</li>
                                <li>Fixed Deposit</li>
                                <li>Government Bonds</li>
                                <li>Corporate Bonds </li>
                                <li>Equity</li>
                                <li>Precious Metals</li>
                                <li>Real Estate</li>
                                <li>Mutual Fund</li>
                            </ul>



                        </div>
                        <div class="col-4">
                            <ul>




                                <li><b> Primary Market</b></li>

                                <li>Why A Company Is Listed On The Stock Market </li>
                                <li>What Is An IPO</li>
                                <li>IPO – Initial Public Offering</li>
                                <li>Share Price – Face Value & Premium</li>
                                <li>Face Value</li>
                                <li>Premium </li>
                                <li>Types Of IPO</li>
                                <li>Fix Price IPO</li>
                                <li>Book Building IPO</li>
                                <li>RHP</li>
                                <li> DRHP</li>
                                <li>How To Select An IPO</li>
                                <li>IPO Application Procedure</li>
                                <li>Follow On Public Offer (FPO)</li>

                            </ul>
                        </div>
                        <div class="col-4">
                            <ul>
                                <li><b> Demat Account</b></li>
                                <li><b>Demat Transaction</b></li>
                                <li><b> Delivery Settlement: T+2</b></li>

                                <li><b>Stock Broker</b></li>
                                <li><b>Detailed informarmation</b></li>
                                <li><b>Full service broker</b></li>
                                <li><b>Discount broker</b></li>
                            </ul>
                        </div>

                    </div>

                    <br><br>


                    <div class="row">

                        <div class="col-3">
                            <ul>
                                <li><b> Secondary Market</b></li>
                                <li> Market Timing</li>
                                <li> Pre-Open Session></li>
                                <li> Regular Trading Session></li>
                                <li> The Closing Session></li>
                                <li>Block Deal></li>
                                <li> Block Deal Session Timings </li>
                                <br><br>
                                <li> <b>Stock Exchange and Market</b></li>

                                <li>Regulatory </li>
                                <li>National Stock Exchange Of
                                <li>India(NSE)
                                <li> Bombay Stock Exchange Of
                                <li>India(BSE)
                                <li>Regional Stock Exchanges (RSE) </li>
                                <li>Stock Market Regulatory - SEBI</li>
                                <li>Indices</li>
                                <li>NIFTY-50</li>
                                <li>SENSEX</li>

                            </ul>
                        </div>
                        <div class="col-3">
                            <ul>




                                <li><b>Categorization Of Stock By
                                        Market Capital</b></li>
                                <li>Large cap</li>
                                <li>Mid cap</li>
                                <li>Small Cap</li>
                                <li>T2T</li>
                                <li>Z category</li>
                            </ul>
                            <ul>
                                <li><b>Categorization Of Stock By Sector</b></li>
                                <li>Automotive Sector</li>
                                <li>Private Bank</li>
                                <li>PSU Bank</li>
                                <li>Cement & Construction</li>
                                <li>Chemical</li>
                                <li>FMCG</li>
                                <li>Engineering & Capital Goods</li>
                                <li>Food & Beverages</li>
                                <li>Information Technology</li>
                                <li>Media & Entertainment</li>
                                <li>Metals & Mining</li>
                                <li> Oil & Gas</li>
                                <li> Pharmaceuticals</li>
                                <li> Retail & Real Estate</li>
                                <li> Telecommunication</li>
                                <li> Utilities</li>

                            </ul>
                        </div>

                        <div class="col-3">
                            <ul>
                                <li><b> Market Participants</b></li>
                                <li> Retail Participant</li>
                                <li> NRI (Non-Resident Indian) </li>
                                <li> DII - Domestic Institutional</li>
                                <li>Investor</li>
                                <li> AMC - Asset Management Company</li>
                                <li> FII-Foreign Institutional</li>
                                <li>Investor </li>
                                <li>Corporate Actions & Their Impact On Stock Price</li>
                                <li> Dividend</li>
                                <li> Bonus</li>
                                <li> Stock Split</li>
                                <li> Right Issues</li>
                                <li> Buy Back</li>
                            </ul>

                        </div>
                        <div class="col-3">
                            <ul>
                                <li><b>Investment Vs Trading</b></li>
                            </ul>
                            <ul>
                                <li><b> Types Of Investment</b></li>
                                <li>Short Term</li>
                                <li>Long Term</li>
                            </ul>
                            <ul>
                                <li><b>Types Of Trading</b></li>
                                <li>Intraday Trading</li>
                                <li>Positional Trading</li>
                                <li>Scalping</li>
                            </ul>
                            <ul>
                                <li><b> Market Positions</b></li>
                                <li>Long Position</li>
                                <li>Short Position</li>
                            </ul>

                            <ul>
                                <li><b> Order Management</b></li>
                                <li>Buing Order </li>
                                <li>Selling Order(Short Sell)</li>
                                <li>Squre Off</li>
                                <li>Stop Loss order</li>
                            </ul>

                            <ul>
                                <li><b> Target And Stop Loss </b></li>
                                <li>Stop loss Theory</li>
                                <li>Trailing Stop Loss</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>