<!-- ======= Traning Section ======= -->
<section id="contact" class="contact">
    <div class="white2">
        <div class="container">


            <!-- ======= Services Section ======= -->
            <section id="services" class="services">
                <div class="container pt-5">

                    <div class="section-title" data-aos="fade-up">
                        <h2 class="section-title">KNOW MORE, GROW MORE</h2>
                        <h2 class="section-title">USEFUL COURSES</h2>

                    </div>
                    <div class="demo">
                        <div class="container">
                            <div class="row" data-aos="zoom-in" data-aos-delay="400">
                                <div class="col-md-4 col-sm-6 ">
                                    <div class="pricingTable">
                                        <!-- <div class="pricingTable-header">

                                            <h3 class="heading">BASIC COURSES</h3>
                                        </div> -->
                                        <br>
                                        <h3 class="heading">BASIC COURSES</h3>
                                        <div class="pricing-content">
                                            <ul>

                                                <li>Equity Market</li>
                                                <li>Commodity Market</li>
                                                <li>Currency Market</li>
                                                <li>Trading Softwares Training</li>
                                                <li><a routerLink="/websitedata/equity-market">Read More..</a></li>
                                            </ul>
                                        </div>
                                        <br>
                                        <div class="pricingTable-signup">
                                            <a routerLink="/login">Book Now</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-6 ">
                                    <div class="pricingTable green">

                                        <!-- <div class="pricingTable-header">

                                            <h3 class="heading">ADVANCE COURSES</h3>
                                        </div> -->
                                        <br>
                                        <h3 class="heading">ADVANCE COURSES</h3>
                                        <div class="pricing-content">
                                            <ul>
                                                <li>Basic Plus Below Courses </li>
                                                <li>Derivatives Market</li>
                                                <li>Technical Analysis</li>

                                                <li><a routerLink="/websitedata/commodity">Read More..</a></li>
                                                <!-- <li>&nbsp;</li> -->
                                            </ul>
                                        </div>
                                        <br><br>
                                        <div class="pricingTable-signup">
                                            <a routerLink="/login">Book Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 ">
                                    <div class="pricingTable blue">

                                        <!-- <div class="pricingTable-header">

                                            <h3 class="heading">MASTER COURSES</h3>
                                        </div> -->
                                        <br>
                                        <h3 class="heading">MASTER COURSES</h3>
                                        <div class="pricing-content">
                                            <ul>
                                                <li>Advance Plus Below Courses</li>
                                                <li>Fundamental Analysis
                                                </li>
                                                <!-- <li> </li> -->
                                                <li>Trading Techniques & Stratergies</li>
                                                <li>Live Market Practical Trading</li>
                                                <li>Mutual Funds</li>
                                                <li><a routerLink="/websitedata/currency">Read More...</a></li>
                                            </ul>
                                        </div>
                                        <div class="pricingTable-signup">
                                            <a routerLink="/login">Book Now</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-md-4 col-sm-6 ">
                                    <div class="pricingTable red">

                                        <div class="pricingTable-header">

                                            <h3 class="heading">TRADING MASTER COURSES</h3>
                                        </div>
                                        <div class="pricing-content">
                                            <ul>
                                                <li>What is a <strong>Derivatives</strong>, Types, </li>
                                                <li><strong>Future Market</strong>, Hedging </li>

                                                <li><strong>Index</strong> Future, Lot Sizes</li>
                                                <li><a routerLink="/websitedata/derivatives">Read More...</a></li>
                                            </ul>
                                        </div>
                                        <div class="pricingTable-signup">
                                            <a routerLink="/login">Book Now</a>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                            <br>
                            <div class="row" data-aos="zoom-in" data-aos-delay="400">
                                <div class="col-md-3 col-sm-6 ">

                                </div>

                                <div class="col-md-6 col-sm-6 ">
                                    <div class="pricingTable green">

                                        <!-- <div class="pricingTable-header">

                                            <h3 class="heading">ADVANCE COURSES</h3>
                                        </div> -->
                                        <br>
                                        <h3 class="heading">Platinum COURSES</h3>
                                        <div class="pricing-content">
                                            <ul>
                                                <li>Master Plus Below Courses</li>
                                                <li>Portfolio Management Services</li>
                                                <li>Financial Planning</li>
                                                <li>Personal Coaching from Sanjay Balapure Sir</li>
                                                <li><a routerLink="/websitedata/commodity">Read More..</a></li>
                                                <!-- <li>&nbsp;</li> -->
                                            </ul>
                                        </div>
                                        <div class="pricingTable-signup">
                                            <a routerLink="/login">Book Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 ">

                                </div>
                                <!-- <div class="col-md-4 col-sm-6 ">
                                    <div class="pricingTable red">

                                        <div class="pricingTable-header">

                                            <h3 class="heading">TRADING MASTER COURSES</h3>
                                        </div>
                                        <div class="pricing-content">
                                            <ul>
                                                <li>What is a <strong>Derivatives</strong>, Types, </li>
                                                <li><strong>Future Market</strong>, Hedging </li>

                                                <li><strong>Index</strong> Future, Lot Sizes</li>
                                                <li><a routerLink="/websitedata/derivatives">Read More...</a></li>
                                            </ul>
                                        </div>
                                        <div class="pricingTable-signup">
                                            <a routerLink="/login">Book Now</a>
                                        </div>
                                    </div>
                                </div> -->
                            </div>

                        </div>
                    </div>
                    <br>
                </div>
            </section>
            <!-- End Services Section -->



            
        </div>
    </div>
</section>