<!-- ======= Footer ======= -->
<footer id="footer" class="bg-dark">

    <div class="bg-banner">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-6 footer-contact" data-aos="fade-up" data-aos-delay="100">
                        <h3 style="color: #ff4000; font-weight: 700; margin-top: 20px;">शेअरमार्केटक्रांती</h3>
                        <p>Office no. 1244/45, Dhavalshree Apt. Near Aapte Sabhagruh, Aapate Road, Deccan Gymkhana
                            Deccan,Pune,411005<br>
                            <strong>Phone :</strong> +91 898 898 43 43<br>
                            <strong>Email :</strong> sharemarketkranti@gmail.com<br>
                        </p>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-links" data-aos="fade-up" data-aos-delay="200">
                        <h4 style=" margin-top: 20px;">Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a routerLink="/websitedata/home"
                                    class="link11">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a routerLink="/websitedata/about"
                                    class="link11">About Us</a></li>
                            <!--<li><i class="bx bx-chevron-right"></i> <a routerLink="/websitedata/training">Training</a></li>-->
                            <li><i class="bx bx-chevron-right"></i> <a routerLink="/websitedata/terms"
                                    class="link11">Terms and
                                    Condition</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a routerLink="/websitedata/privacypolicy"
                                    class="link11">Privacy
                                    Policy</a></li>

                            <li><i class="bx bx-chevron-right"></i> <a routerLink="/websitedata/refundpolicy"
                                    class="link11">Refund
                                    Policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-links" data-aos="fade-up" data-aos-delay="300">
                        <h4 style=" margin-top: 20px;">Online/Offline Traning</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a routerLink="/websitedata/equity-market"
                                    class="link11">Equity
                                    Market</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a routerLink="/websitedata/commodity"
                                    class="link11">Commodity
                                    Market</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a routerLink="/websitedata//currency"
                                    class="link11">Currency
                                    Market</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a routerLink="/websitedata//derivatives"
                                    class="link11">Derivatives Market</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a routerLink="/websitedata//technical"
                                    class="link11">Technical
                                    Analysis</a></li>
                        </ul>
                    </div>

                    <!-- <div class="col-lg-3 col-md-6 footer-links" data-aos="fade-up" data-aos-delay="400">
                        <h4 style=" margin-top: 20px;">Our Social Networks</h4>
                        <p>Join us on our YouTube channel "SharemarketKranti"</p>
                        <div class="social-links mt-3">
                            <a href="https://twitter.com/home" class="twitter"><i class="bx bxl-twitter"></i></a>
                         
                            <a href="https://www.facebook.com/Share-Market-Kranti-106975761387083" class="facebook"><i
                                    class="bx bxl-facebook"></i></a>
                            <a href="https://www.instagram.com/sharemarketkranti/" class="instagram"><i
                                    class="bx bxl-instagram"></i></a>
                            <a href="https://www.linkedin.com/in/sanjay-balapure-484b53204/" class="linkedin"><i
                                    class="bx bxl-linkedin"></i></a>
                            <a href="https://www.youtube.com/channel/UC8p349Gr-kcFB9DlQgUgHDA" class="youtube"><i
                                    class="bx bxl-youtube"></i></a>
                        </div>
                    </div> -->

                </div>
            </div>
        </div>
    </div>
    <div class="section" style="background:#EEEEEE;
  padding-bottom: 10px;">
        <div class="container py-4">
            <div class="copyright">
                &copy; Copyright <strong><span style="color:#ff4000;">ShareMarketKranti</span></strong>. All Rights
                Reserved
            </div>
            <div class="credits">
                Designed by <a href="https://technoartz.com//" target="_blank"><strong>Technoartz</strong></a>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->