<div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">

        <div class="carousel-item active">
            <img class="w-100" src="assets/images/sliders11.jpg" alt="Image">

        </div>
        <div class="carousel-item">
            <img class="w-100" src="assets/images/sliders22.jpg" alt="Image">

        </div>
        <div class="carousel-item ">
            <img class="w-100" src="assets/images/sliders33.jpg" alt="Image" he>

        </div>
        <div class="carousel-item">
            <img class="w-100" src="assets/images/slider44.jpg" alt="Image">

        </div>
        <div class="carousel-item">
            <img class="w-100" src="assets/images/slider55.jpg" alt="Image">

        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<!-- <app-carousel></app-carousel> -->


<div class="why-choose-us " style="padding-top: 1px;">
    <div class="white ">
        <div class="container">

            <div class="section-title" data-aos="fade-up" style=" padding-bottom: 0px">
                <h2 class="why-choose">Why Choose </h2>
                <p style="color: black;font-size: 30px;"><b>SharemarketKranti</b></p>
            </div>
            <div class="row">

                <header>
                    <section class="view intro-video">
                        <div class="hm-gradient">
                            <div class="full-bg-img">
                                <div class="container flex-center">
                                    <h5><b>EXCEPTIONAL TRAINING & SERVICE</b></h5>
                                    <p>We provide exceptional training & services to our students & clients. We know
                                        that our students & clients are important for us and hence we do not leave any
                                        stone unturned in helping, guiding and mentoring them with our knowledge..</p>
                                    <h5><b>FEE REFUND</b></h5>
                                    <p>Once you complete your master course & start trading under our guidance, we
                                        assure you can recover your fees amount within three months of trading..</p>
                                    <h5><b>MONTHLY RETURNS</b>
                                    </h5>
                                    <p>Sharemarketkranti has been consistent in making sure that their students earn at
                                        least 5-10% on monthly basis following our trading techniques & advisory..</p>
                                    <h5><b>MINIMUM FEES</b></h5>
                                    <p>We provide live training (not recorded) & practical’s at the lowest fees. We also
                                        provide lifetime support without any additional cost.</p>
                                    <div class=" fadeIn">
                                        <div style="height: 350px !important;"
                                            class=" embed-responsive embed-responsive-16by9 wow fadeInRight">

                                            <iframe width="560" height="315"
                                                src="https://www.youtube.com/embed/DKoJdOC5pjk"
                                                title="YouTube video player" frameborder="0"
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                                allowfullscreen class="vedio11"></iframe>
                                        </div>
                                    </div>
                                    <h5><b>PEOPLE AT THE HEART OF OUR BUSINESS</b></h5>
                                    <p>Our team is committed to extra thoughtful care & passionate about delivering best
                                        returns. While each of our team members at Sharemarketkranti plays a unique
                                        role, they all serve as brand ambassadors working to deliver best knowledge to
                                        our students turning them into passionate brand advocates.</p>
                                    <h5><b>BECOME A LEADER</b></h5>
                                    <p>Sharemarketkranti is persistent in creating more & more leaders in stock market.
                                        Once you are connected with our family, we guarantee that people will look upto
                                        you to transform their lives just as you transformed your life from
                                        Sharemarketkranti.</p>
                                </div>
                            </div>
                        </div>
                    </section>

                </header>
            </div>
        </div>
    </div>
</div>
<app-courses></app-courses>

<app-service></app-service>