<!-- <div class="container-fluid bg-dark px-5 d-none d-lg-block">
    <div class="row gx-0">
        <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
            <div class="d-inline-flex align-items-center" style="height: 45px;">
                <small class="me-3 text-light"><i class="fa fa-map-marker-alt me-2"></i>123 Street, New York,
                    USA</small>
                <small class="me-3 text-light"><i class="fa fa-phone-alt me-2"></i>+012 345 6789</small>
                <small class="text-light"><i class="fa fa-envelope-open me-2"></i>info@example.com</small>
            </div>
        </div>
        <div class="col-lg-4 text-center text-lg-end">
            <div class="d-inline-flex align-items-center" style="height: 45px;">
                <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i
                        class="fab fa-twitter fw-normal" style="color:white"></i></a>
                <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i
                        class="fab fa-facebook-f fw-normal" style="color:white"></i></a>
                <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i
                        class="fab fa-linkedin-in fw-normal" style="color:white"></i></a>
                <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i
                        class="fab fa-instagram fw-normal" style="color:white"></i></a>
                <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle" href=""><i
                        class="fab fa-youtube fw-normal" style="color:white"></i></a>
            </div>
        </div>
    </div>
</div> -->

<div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0" style="color: #EEEEEE;">
        <a href="index.html" class="navbar-brand p-0">
            
            <a class="navbar-brand" href="#">
                <img src="assets/images/SMKlogo.png" alt="" width="140px">
            </a>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a routerLink="home" class="nav-item nav-link active">Home</a>
                <!-- <a href="about.html" class="nav-item nav-link">About Us</a> -->
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">About Us</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" routerLink="aboutsmk">About SMK</a></li>
                      <li><a class="dropdown-item" routerLink="aboutsb">About Sanjay Balapure</a></li>
                      <li><a class="dropdown-item" routerLink="blogs">Blogs</a></li>
                    </ul>
                </div>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Products</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item">Equity</a></li>
                      <li><a class="dropdown-item">Mutual Fund</a></li>
                      <li><a class="dropdown-item">Portfolio Managemnet Services</a></li>
                      <li><a class="dropdown-item">AIF</a></li>
                      <li><a class="dropdown-item">Fixed Deposit</a></li>
                      <li><a class="dropdown-item">Bonds</a></li>
                      <li><a class="dropdown-item">NCD</a></li>
                      <li><a class="dropdown-item">IPO</a></li>
                      <li><a class="dropdown-item">Insurance</a></li>
                      <li><a class="dropdown-item">Loans</a></li>
                      <li><a class="dropdown-item">Structure Product</a></li>
                      <li><a class="dropdown-item">Advisory</a></li>
                    </ul>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link " routerLink="courses">Courses</a>
                  
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link " data-bs-toggle="dropdown">Partner</a>
                    <div class="dropdown-menu m-0">
                        <a href="price.html" class="dropdown-item">Pricing Plan</a>
                        <a href="feature.html" class="dropdown-item">Our features</a>
                        <a href="team.html" class="dropdown-item">Team Members</a>
                        <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                        <a href="quote.html" class="dropdown-item">Free Quote</a>
                    </div>
                </div>
                <!-- <a href="service.html" class="nav-item nav-link">PartnerShip</a> -->
                <a href="service.html" class="nav-item nav-link">Why Choose Us</a>
                <a href="service.html" class="nav-item nav-link">Quick Links</a>
                <a href="contact.html" class="nav-item nav-link">Contact Us</a>
                <!-- <a href="contact.html" class=" demat11">FREE DEMAT ACCOUNT</a> -->
                <button class="btn1">FREE DEMAT ACCOUNT</button>
            </div>

        </div>

    </nav>

</div>