<h1>Our Services</h1>
<div class="container">
    <ol class="ol-cards">
        <li style="--color-accent:  #E17105">
            <div class="icon"><i class="fa-light fa-books"></i></div>
            <div class="title">Education </div>
            <div class="content">Lorem ipsum dolor sit mart.</div>
        </li>
        <li style="--color-accent: #E17105">
            <div class="icon"><i class="fa-light fa-users"></i></div>
            <div class="title">Financial Products</div>
            <div class="content">Lorem ipsum dolor sit mart consectery id adepeascing elit.</div>
        </li>
        <li style="--color-accent:  #E17105">
            <div class="icon"><i class="fa-light fa-calendar"></i></div>
            <div class="title">Demat Account</div>
            <div class="content">Lorem ipsum dolor sit mart consectery id adepeascing elit. Lorem ipsum dolor sit mart.
            </div>
        </li>
        <li style="--color-accent:  #E17105">
            <div class="icon"><i class="fa-regular fa-signal"></i></div>
            <div class="title">PartnerShip</div>
            <div class="content">Lorem ipsum dolor sit mart consectery id adepeascing elit. Lorem ipsum</div>
        </li>

    </ol>
</div>